extends layout
block content
  h1= title
  form(id='DeerForm', action="/resource/Deer", method="POST")
    div.form-group
      label.DeerAttr(for='Deer_color') Deer type
      input#Deer_color(type='text', name='Deer_color')
    div.form-group
      label.DeerAttr(for='Deer_breed') Deer breed 
      input#Deer_breed(type='text', name='Deer_breed')
    div.form-group
      label.DeerAttr(for='Deer_price') Deer price 
      input#Deer_price(type='number', name='Deer_price')
      input(type="submit")
  script.
    document.forms['DeerForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });
